@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: 'Mali', sans-serif;  /* ใช้ Sarabun หรือฟอนต์ที่ต้องการ */
    font-weight: 300;  /* ค่าเริ่มต้น */
    line-height: 1.6;
  }
  
  * {
    font-family: inherit;  /* ทุกองค์ประกอบใช้ฟอนต์จาก body */
  }

.bg-dashboard {
  background: linear-gradient(to bottom right, rgb(255, 187, 187), rgb(255, 181, 255));
}

canvas {
  width: 100% !important;
  height: auto !important;
}
